<h1>Listing forums</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @forums.each do |forum| %>


       <h3> <%= forum.name %> </h3> <br>
--------- </br>
        <u> Discussions: </u> <br>

        <% forum.discussions.each do |discussion| %>
          <%= link_to discussion.name, show_discussion_path(forum, discussion) %> </br>
        <% end %>

--------- </br>

       <%#= link_to 'Show', forum %>
       <%#= link_to 'Edit', edit_forum_path(forum) %>
       <%#= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forum', new_forum_path %>
