<p id="notice"><%= notice %></p>


<% @posts.each do |post| %>
	<%= debug post.user %><br>
	<%= post.body %><br>
<% end %>

<%#= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%#= link_to 'Back', discussions_path %>
