</div>

<div class="row">
<div class="col-sm-2 controlsidebar">
		
<p><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> STATISTICS</a></p>
<p><a href="#"><i class="fa fa-comments fa-fw"></i> FORUM</a></p>
<p><a href="#"><i class="fa fa-calendar fa-fw"></i> CALENDAR</a></p>
<p> <%= link_to panel_show_stories_path do %> <i class="fa fa-bullhorn fa-fw"></i> NEWS <% end %> </p>
<p> <%= link_to panel_show_pages_path do %> <i class = "fa fa-file fa-fw"></i> PAGES <% end %> </p>
<p><a href="#"><i class="fa fa-gift fa-fw"></i> DONATIONS</a></p>
<p><a href="#"><i class="fa fa-camera-retro fa-fw"></i> MEDIA</a></p>
<p> <%= link_to panel_show_users_path do %> <i class="fa fa-user fa-fw"></i> USERS</a> <% end %> </p>
<p> <%= link_to sign_out_path, method: :delete do %> <i class="fa fa-sign-out fa-fw"></i>  SIGN OUT</a> <% end %> </p>
<p>&nbsp;</p>

<span class="hidden-xs"><div class="controlsidebarhidden">
<p>&nbsp;</p>
</div></span>
</div>

