</div>

<div class="row">
<div class="col-sm-2 controlsidebar">
		
<p><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> STATISTICS</a></p>
<p><a href="#"><i class="fa fa-comments fa-fw"></i> FORUM</a></p>
<p><a href="#"><i class="fa fa-calendar fa-fw"></i> CALENDAR</a></p>
<p><a href="cp-newslist.html"><i class="fa fa-bullhorn fa-fw"></i> NEWS</a></p>
<p><a href="#"><i class="fa fa-file fa-fw"></i> PAGES</a></p>
<p><a href="#"><i class="fa fa-gift fa-fw"></i> DONATIONS</a></p>
<p><a href="#"><i class="fa fa-camera-retro fa-fw"></i> MEDIA</a></p>
<p><a href="cp-users.html"><i class="fa fa-user fa-fw"></i> USERS</a></p>
<p><a href="#"><i class="fa fa-sign-out fa-fw"></i>  SIGN OUT</a></p>
<p>&nbsp;</p>

<span class="hidden-xs"><div class="controlsidebarhidden">
<p>&nbsp;</p>
</div></span>
</div>

