<%= render partial: 'sidebar' %> 
<div class="container">
	<div class="col-sm-9">
		<h2>Add a Calendar Event</h2>
		<form role="form">
		  	<div class="form-group">
			    <label for="Nameofevent">Name of Event</label>
			    <input type="text" class="form-control" id="NameofEvent" placeholder="Enter name of event">
			    <p>&nbsp;<p>
			    <label for="Descriptionofevent">Description</label>
			    <textarea class="form-control" rows="3"></textarea>
		    	<p>&nbsp;<p>

		    	<div class="col-sm-9">

			       <div class='col-sm-6'>
			        	<span class="bold">Start Date/Time   </span>
			            <div class="form-group">
			                <div class='input-group date' id='datetimepicker8'>
			 					<input type='text' class="form-control" />
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
			                </div>
			            </div>
			        </div>

			        <div class='col-sm-6'>
			            <span class="bold">Finish Date/Time   </span>
			            <div class="form-group">
			                <div class='input-group date' id='datetimepicker9'>
			                    <input type='text' class="form-control" />
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
			                </div>
			            </div>
			        </div>
			    </div> 

			    <div class = "clearfix"></div>

			    <script type="text/javascript">
			        $(function () {
			            
			            $('#datetimepicker8').datetimepicker();
			            $('#datetimepicker9').datetimepicker();
			            
			            $("#datetimepicker8").on("dp.change",function (e) {
			               $('#datetimepicker9').data("DateTimePicker").setMinDate(e.date);
			            });
			            $("#datetimepicker9").on("dp.change",function (e) {
			               $('#datetimepicker8').data("DateTimePicker").setMaxDate(e.date);
			            });
						
			        });
			    </script>

				<span class="bold">Choose Calendar to add this Event to</span>

			    <div class="radio">
  					<label>
    				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
   					Public Calendar
  					</label>
				</div>
				<div class="radio">
  					<label>
    					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    					Admin Calendar
  					</label>
				</div>
				<div class="radio">
  					<label>
    					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    					Rider Calendar
  					</label>
				</div>
				<div class="radio">
  					<label>
    					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    					Midweek Calendar
  					</label>
				</div>
				<div class="radio">
  					<label>
    					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    					Coordinator Calendar
  					</label>
				</div>


				
		    	<p>&nbsp;<p>
 
				<button type="button" class="btn btn-success"><i class="fa fa-thumb-tack"></i> Add Event to this Calendar</button>
	    	</div>
                    
		</form>
              <p>&nbsp;<p>  
         <table class="table">
	<thead>
		<tr>
				<td><strong>DATE</strong></td>
				<td><strong>EVENT</strong></td>
		</tr>
		</thead>
		<tbody><tr>
				<td>06/07/2014 11:14 PM</td>
				<td>Annual Gen. Meeting of blood bikes wales</td>
				<td><button type="button" class="btn btn-success"> Edit</button>
                    <button type="button" class="btn btn-danger"> Delete</button></td>
            
		</tr>
		<tr>
				<td>NHS</td>
				<td>Andy Walters</td>
				<td><span class="hidden-xs"><a href="mailto:nhsliaison@bloodbikeswales.org.uk">nhsliaison@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:nhsliaison@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>

		</tr>
		<tr>
				<td>Secretary</td>
				<td>Pete Oxley</td>
				<td><span class="hidden-xs"><a href="mailto:secretary@bloodbikeswales.org.uk">secretary@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:secretary@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>

		</tr>

</tbody></table>       
                
                
	</div>
</div>


