<div class="container">
				<div class="row">
						<div class="col-md-12">
		<h2>Who We are</h2>
		<p>&nbsp;</p>
<table class="table">
	<thead>
		<tr>
				<td><strong>TASK</strong></td>
				<td><strong>NAME</strong></td>
				<td><span class="hidden-xs"><strong>EMAIL</strong></span></td>
		</tr>
		</thead>
		<tbody><tr>
				<td>Chairman</td>
				<td>Andy Walters</td>
				<td><span class="hidden-xs"><a href="mailto:chair@bloodbikeswales.org.uk">chair@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:chair@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>NHS</td>
				<td>Andy Walters</td>
				<td><span class="hidden-xs"><a href="mailto:nhsliaison@bloodbikeswales.org.uk">nhsliaison@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:nhsliaison@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>

		</tr>
		<tr>
				<td>Secretary</td>
				<td>Pete Oxley</td>
				<td><span class="hidden-xs"><a href="mailto:secretary@bloodbikeswales.org.uk">secretary@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:secretary@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>

		</tr>
		<tr>
				<td>Rota</td>
				<td>Bernard Wright</td>
				<td><span class="hidden-xs"><a href="mailto:rota@bloodbikeswales.org.uk">rota@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:rota@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>Membership</td>
				<td>Tracey Fennell</td>
				<td><span class="hidden-xs"><a href="mailto:membership@bloodbikeswales.org.uk">membership@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:membership@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>Vehicle Maintenance</td>
				<td>Ray Phillips</td>
				<td><span class="hidden-xs"><a href="mailto:maintenance@bloodbikeswales.org.uk">maintenance@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:maintenance@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>Riding Assessments</td>
				<td>Darren Fennell</td>
				<td><span class="hidden-xs"><a href="mailto:complaints@bloodbikeswales.org.uk">complaints@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:complaints@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>GMP Training</td>
				<td>Andy Walters</td>
				<td><span class="hidden-xs"><a href="mailto:nhsliaison@bloodbikeswales.org.uk">nhsliaison@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:chair@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>Statistics</td>
				<td>Mike Gwynne</td>
				<td><span class="hidden-xs"><a href="mailto:statistics@bloodbikeswales.org.uk">statistics@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:nhsliaison@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>Coordinators</td>
				<td>George Howells</td>
				<td><span class="hidden-xs"><a href="mailto:coordinators@bloodbikeswales.org.uk">coordinators@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:chair@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>Disputes/ Complaints</td>
				<td>Bernard Wright</td>
				<td><span class="hidden-xs"><a href="mailto:complaints@bloodbikeswales.org.uk">complaints@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:coordinators@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>Web/ Admin/ NABB</td>
				<td>David Wright</td>
				<td><span class="hidden-xs"><a href="mailto:admin@bloodbikeswales.org.uk">admin@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:admin@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>Accounts</td>
				<td>Roy Chandler</td>
				<td><span class="hidden-xs"><a href="mailto:treasurer@bloodbikeswales.org.uk">treasurer@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:treasurer@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>eBay</td>
				<td>Tyron Stevenson</td>
				<td><span class="hidden-xs"><a href="mailto:ebay2@bloodbikeswales.org.uk">ebay2@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:ebay2@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>Fundraising</td>
				<td>Beverly Melnyk-Jones</td>
				<td><span class="hidden-xs"><a href="mailto:fundraising@bloodbikeswales.org.uk">fundraising@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:fundraising@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>PR</td>
				<td>Beverly Melnyk-Jones</td>
				<td><span class="hidden-xs"><a href="mailto:pr@bloodbikeswales.org.uk">pr@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:pr@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>West Area Rep</td>
				<td>Malcolm Platt</td>
				<td><span class="hidden-xs"><a href="mailto:west@bloodbikeswales.org.uk">west@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:west@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>Mid Area Rep</td>
				<td>Julia Phillips</td>
				<td><span class="hidden-xs"><a href="mailto:mid@bloodbikeswales.org.uk">mid@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:mid@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
		<tr>
				<td>East Area Rep</td>
				<td>Ray Phillips</td>
				<td><span class="hidden-xs"><a href="mailto:east@bloodbikeswales.org.uk">east@bloodbikeswales.org.uk</a></span></td>
				<td><a href="mailto:east@bloodbikeswales.org.uk"><button type="publish" class="btn btn-success btn-xs">Email</button></a></td>
		</tr>
</tbody></table>
		</div>
		</div>




<!--end row-->

</div>