<div class="col-md-12">
	<p>&nbsp;</p>
		<h2>About Blood Bikes Wales</h2>
		<p>&nbsp;</p>
		<p>We are an enthusiastic group of people keen to make a difference. Most of us are riders and we aim to use our skills, time and enthusiasm to help the Health Service in Wales.

		The NHS uses its own transportation system to move blood supplies, plasma, documents and other items between hospitals during the day on Mondays to Fridays. Between 7pm and 7am on weekdays, on weekends and on bank holidays, the regular system used to stop and the NHS used the police, the ambulance service, taxis and couriers to carry the vital supplies. You can imagine what this used to cost the NHS. This is where Blood Bikes Wales comes in. Our volunteers provide the NHS with out-of-hours transport thus saving substantial sums which can be put to better use. Based on figures from our fellow Blood Bike groups in England, we estimate that for each pound we receive, the NHS will save at least five pounds.

		We currently give our services free of charge between 7pm on Friday evening until midnight on Monday morning and over bank holidays to:
		Abertawe Bro Morgannwg University Health Board (Swansea),
		Cwm Taf University Health Board (Merthyr Tydfil, Llantrisant) and
		Aneurin Bevan University Health Board (Newport, Caerphilly, Monmouthshire)
		... and we talking to the other health boards in Wales.

		Blood Bikes Wales is a member of the Nationwide Association of Blood Bikes which shares our quest to provide a reliable, good value and high quality service to health institutions throughout the country.

		For further information on how to join our amazing cause please use the Contact Us page.

		Our meetings are held at Carmarthen, Pontyclun and Cwmbran. Details are posted on our Facebook page. Please come along: to meet us and find out more about how we operate.

		Further news and updates can be found by clicking on the tabs to the left of this page under Main Menu or clicking on the links below.
	</p>
				

</div>