<div class = 'col-xs-12 donate-well well'>
	
	<h1> Donate lots and lots of lovely monies here, lots and lots of monies here yes yes </h1>

	<div class = 'subscription'> your payment is completely and utterly secure. Donations are made via Paypal, which a third party service and just a bit of old boilder plate here you see. lorem ipsum lorem ipsum lorem ipsum lorem ipsum. Paypal is pretty fly. </div>

	<div class = 'form-overlay'>
		<input name = 'amount' type = 'text' value = '£ 50' min = '1'>

		<div class = 'btn btn-success donate'> donate via paypal </div>

	</div>
	<!--	<div class = 'or'> <span class = 'fa fa-heart-o'></span> </div> -->


<!--
<div class="lb-overlay-form-amount">
							
								<input name="amount" type="text" value="50" min="1">
								<input type="hidden" name="cmd" value="_xclick">
								<input type="hidden" name="business" value="skustrimovic-facilitator@gmail.com">
								<input type="hidden" name="item_name" value="Donate">
								<input type="hidden" name="item_number" value="124">
								<input type="hidden" name="currency_code" value="USD">		
								<input type="hidden" name="return" value="http://ddthemesdemo.com/biosphere/donate/?processed=yes">		
								<input type="hidden" name="notify_url" value="http://ddthemesdemo.com/biosphere/wp-content/themes/biosphere-v1.0.6/inc/ipn.php">

								<span class="lb-overlay-form-amount-ccode">$</span>
								<span class="lb-overlay-form-amount-cname">USD</span>

						</div>

		<input type = 'text'> donate via paypal </input>
-->
</div>
<div class = 'clearfix'></div>

<!--
<div class = 'choice'> Donate to a specific cause of your choice: </div>


<div class = 'donation_cause col-sm-3'>
	
</div>


<div class = 'donation_cause col-sm-3'>
	
</div>


<div class = 'donation_cause col-sm-3'>
	
</div>


<div class = 'donation_cause col-sm-3'>
	-->
</div>