	<div class = 'col-xs-12 content'>
	
		<div class = 'post'>
			<div class = 'meta-block'>
				<h1 class = 'title'> Here is the Event! </h1>
				<div class = 'post-meta'>
					<div class = 'meta-cats pull-left'> When is it: 16/12/2004  </div>
					<div class = 'meta-tags pull-right'> Tags: <a href = '#'> One</a>, <a href = '#'> Two</a>, <a href = '#'> Three</a>  </div>
				</div>
	
				<div class = 'clearfix'></div>

			</div>

			<div class = 'post-body'>
				<p>
					<div class="cropper-container">
							<div class="image-container" style='background-image: url(<%= image_path('1.jpg') %>)'></div>
					</div>	
				</p>

				<p>

					Sed ut perspiciatis unde omnis iste natus error <a href = '#'> sit voluptatem </a> accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut <em>fugit, sed quia consequuntur magni dolores eos qui</em> ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
				</p>
			</div>
		</div>			
	
	</div>

