<div class="row">
	<div class="col-md-12">

		<h1>Fundraising</h1>
		<p>Fundraising is the lifeblood of any charity and it is no less so for Blood Bikes Wales. We have a dedicated enthusiastic team who all try and do as much fundraising as they are able to do.</p>
		<p>Most of our members work on a full-time basis and give up some of their spare time in the interest of a worthwhile charity that is intent on making a difference.</p>
		<p>We are very proud of our members and grateful for all their hard work.</p>
		<p>There is normally a&nbsp;fundraising&nbsp;event on at least once a week (please see the&nbsp;check our <a href="https://www.facebook.com/bloodbikeswales">Facebook Page</a> for details).</p>
		<p>The supermarkets have been very generous in allowing us to collect at their stores and the customers of these stores are very generous and inquisitive about our cause.											</p>
		<p>We have support from a number of people and companies, details of which will follow in future updates.</p>
	
		<h3>Poundstretcher donates £23,750 to Blood Bikes Wales</h3>
		<p>It is with great pleasure, and not a little surprise,&nbsp;that we announce a donation to Blood Bikes Wales from Poundstretcher Limited.				</p>
		<p>Poundstretcher have over&nbsp;<a title="Poundstretcher UK store map" href="http://www.poundstretcher.co.uk/store-finder.php" target="_blank">400 stores in the UK</a>, of which 36 are in Wales, and it is to these 36 Welsh stores and their customers that we are endebted, because&nbsp;Poundstretcher decided that they liked our cause so much, they would donate the procedes of carrier bag sales in Wales to us.				</p>
		<p>We're not talking a small sum here though. Five pence per bag is a small amount, but over those 36 stores the total soon rises. We are extremely grateful to have received a cheque from Poundstretcher for £23,750.98. That is no misprint - the figure is correct: twenty-three thousand, seven hundred and fifty pounds and&nbsp;98p!</p>
		<p>We, the members of Blood Bikes Wales, extend our utmost gratitude to Poundstretcher, their staff across the whole of the UK, in Wales and in their head office in Huddersfield and to their customers across the Principality.</p>
		<h3>We win the customer charity</h3>
			
		<%= image_tag 'cause.jpg', class: 'img-responsive newsimage' %>
	
		<p>The Patrons of Asda Bridgend chose Blood Bikes Wales as the charity to receive a donation of £200 from Asda Community Life.</p>
		<p>We would like to thank the Asda Bridgend Patrons, Staff, Kevin (community life champion) and Manager of the store
	for their generous support.</p>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4dcbdc1533c411d4"></script>
<!-- AddThis Button END --></div>

</div>