

<div class="row">
<div class="col-md-12">
		

				<h2>Welcome to Blood Bikes Wales</h2>


				<p> Dear All, </p>

				<p>
				Welcome to Blood Bikes Wales' new website and thanks must go to Jonathn Hurley Design for doing such a great job. Thanks also to our volunteers that have worked alongside to help create this site. I'm sure you'll find it easier to navigate and there's a lot more information at your fingertips. It's easier to communicate through our contact buttons as well, ensuring you get the answers you need from the best person to help you. We're continually seeking ways to improve our organisation, be it the service we provide, the way to fund-raise or how we look after our members. Any suggestions you may have are always welcomed.</p>

				<p>
				The last year has seen significant growth in our workload, with three health boards being serviced by us and a fourth health board nearly ready to go live. From the Severn Bridge all the way past Swansea, we are providing a first class service to these health boards. Often our riders comment on how appreciative the healthcare professionals are of the work we do and always sing our praises.</p>

				<p>
				Our aim by the end of the year is to provide our service to all the health boards in Wales. A tall order some may say but between us and our sister group in North Wales I believe we can achieve it. It is because we provide such a valuable and high quality service that we feel it is our moral obligation to serve all our health boards with equal commitment.</p>

				<p>
				For us to provide and maintain this service we need you. Whatever you do for a living, whatever your talents are, whether you ride a bike or not, you are welcome to join us and be part of something really special. So click on the link and email us, take a look at our calendar and come see us, follow us on Facebook and Twitter, keep an eye out for us on the road. Join us.</p>

				Andy Walters
				<p>
				Chairman</p>



				

</div>


</div>


<div class="row">
	<div class="col-md-8">

		<div class="flex-slider" style=' background-image: url(<%= asset_path 'RSCN0524.jpg' %>)  '>
			<div class="titlebox">
				<h2><span class="left">Notable News</span> 
<!--
				<span class="right">
					<leftarrow><i class="fa fa-chevron-left"></i></leftarrow>
					<rightarrow><i class="fa fa-chevron-right"></i></rightarrow>
				</span>
-->
				</h2>
				</div>
				<div class="ghostedbox">
					<h4> Blood Bikes Wales volunteer hospital missions may spread </h4>
					<p> Volunteer bikers who deliver emergency blood, donor milk and medical equipment for a Welsh health board could extend their work to other parts of Wales. </p>

					<%= link_to 'Read more', story_index_path %>
				</div>
	
			</div>

		<div class="flex-slider" style=" background-image: url(<%= asset_path 'cause.jpg' %>) ">
			<div class="titlebox">
				<h2><span class="left">Latest Cause</span> 
<!--
				<span class="right">
					<leftarrow><i class="fa fa-chevron-left"></i></leftarrow>
					<rightarrow><i class="fa fa-chevron-right"></i></rightarrow>
				</span>
-->
				</h2>
				</div>
				<div class="ghostedbox">
					<h4>  Pounstretcher donates £23,750 to Blood Bikes Wales	</h4>
					<p> It is with great pleasure, and not a little surprise, that we announce a donation to Blood Bikes Wales from Poundstretcher Limited. </p>

					<%= link_to 'Read more', splash_fundraising_path %>
				</div>
	
			</div>




					<div class="row">
					<!--
							<div class="col-md-6">
									<div class="calendar">
											<p>CALENDAR
													COMING SOON</p>
									</div>
							</div>
							<div class="col-md-6">
									<div class="events">
											<p>EVENTS
													COMING SOON</p>
									</div>
							</div>
					-->
					</div>
				
			</div>
			<div class="col-md-4">
					<div class="fb-like-box" data-href="https://www.facebook.com/bloodbikeswales" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"> </div>
					<a class="twitter-timeline"  href="https://twitter.com/BloodBikesWales"  data-widget-id="449299926703304704">Tweets by @BloodBikesWales</a> 
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
			</div>
	</div>