

<div class="row">
<div class="col-md-12">
		

				<h2>Welcome to Blood Bikes Wales</h2>


				<p>Welcome to Blood Bikes Wales' new website and thanks must go to Jonathan Hurley Design for doing such a great job. Thanks also to our volunteers that have worked alongside to help create this site. I'm sure you'll find it's easier to navigate and that there's a lot more information at your fingertips. It's easier to communicate through our Contacts Page as well, ensuring you get the answers you need from the best person to help you. We're continually seeking ways to improve our organisation, be it the service we provide, the way to fund-raise or how we look after our members. Any suggestions you may have are always welcomed.</p>
				<p> The last year has seen significant growth in our workload, with two health boards being serviced by us and a third health board looking to go live by the end of March. We are providing a first class service to these health boards and when we meet the various healthcare professionals they are all so very appreciative of the work we do and always sing our praises.</p>
				<p> Our aim by the end of the year is to provide our service to all the health boards in Wales. A tall order some may say but between us and our sister group in North Wales I believe we can achieve it. We provide such a valuable and high quality service that we have a moral obligation to serve all our health boards with equal commitment.</p>
				<p> For us to provide and maintain this service we need you. Whatever you do for a living, whatever your talents are, whether you ride a bike or not, you are welcome to join us and be part of something really special. So click on the link and email us, take a look at our calendar and come see us, follow us on Facebook and Twitter, keep an eye out for us on the road. Join us.</p>
				<p> Andy Walters, Chairman</p>
				<p>&nbsp;</p>
		






				

</div>


</div>


<div class="row">
	<div class="col-md-8">

		<div class="flex-slider">
			<div class="titlebox">
				<h2><span class="left">Notable News</span> 
<!--
				<span class="right">
					<leftarrow><i class="fa fa-chevron-left"></i></leftarrow>
					<rightarrow><i class="fa fa-chevron-right"></i></rightarrow>
				</span>
-->
				</h2>
				</div>
				<div class="ghostedbox">
					<h4> <%= Story.first.title %> </h4>
					<p> <%= truncate Story.first.description, length: 160 %> </p>

					<%= link_to 'Read more', story_path(Story.first) %>
				</div>
	
			</div>

		<div class="flex-slider">
			<div class="titlebox">
				<h2><span class="left">Latest Cause</span> 
<!--
				<span class="right">
					<leftarrow><i class="fa fa-chevron-left"></i></leftarrow>
					<rightarrow><i class="fa fa-chevron-right"></i></rightarrow>
				</span>
-->
				</h2>
				</div>
				<div class="ghostedbox">
					<h4>  Pounstretcher donates £23,750 to Blood Bikes Wales	</h4>
					<p> It is with great pleasure, and not a little surprise, that we announce a donation to Blood Bikes Wales from Poundstretcher Limited. </p>

					<%= link_to 'Read more', splash_fundraising_path %>
				</div>
	
			</div>




					<div class="row">
					<!--
							<div class="col-md-6">
									<div class="calendar">
											<p>CALENDAR
													COMING SOON</p>
									</div>
							</div>
							<div class="col-md-6">
									<div class="events">
											<p>EVENTS
													COMING SOON</p>
									</div>
							</div>
					-->
					</div>
				
			</div>
			<div class="col-md-4">
					<div class="fb-like-box" data-href="https://www.facebook.com/bloodbikeswales" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"> </div>
					<a class="twitter-timeline"  href="https://twitter.com/BloodBikesWales"  data-widget-id="449299926703304704">Tweets by @BloodBikesWales</a> 
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
			</div>
	</div>