<div class="row">
						<div class="col-md-12">
		<h2>Links</h2>
		<p>&nbsp;</p>
		<p>Cornwall Freewheelers - Cornwall (NM)<br>
		<a href="http://www.cornwallfreewheelers.org.uk">www.cornwallfreewheelers.org.uk <i class="fa fa-external-link"></i></a></p>

		<p>Devon Freewheelers - Devon (NM)<br>
		<a href="http://bloodbikes.org">www.bloodbikes.org <i class="fa fa-external-link"></i></a></p>
				
		<p>Freewheelers EVS - Bristol, Bath, Somerset, parts of Wiltshire (NM)<br>
		<a href="http://www.freewheelers.org.uk/">www.freewheelers.org <i class="fa fa-external-link"></i></a></p>
				
		<p>Midland Freewheelers - West Midlands (NM)<br>
		<a href="http://www.midlandfreewheelers.co.uk">www.midlandfreewheelers.co.uk <i class="fa fa-external-link"></i></a></p>

		<p>ScotsERVS - the greater Glasgow area<br>
		<a href="http://www.scotservs.org.uk">www.scotservs.org.uk <i class="fa fa-external-link"></i></a></p>
		
		<p>Blood Bikes Scotland - primarily 	Lothian, Borders &amp; Fife<br>
		<a href="http://bloodbikesscotland.co.uk">bloodbikesscotland.co.uk <i class="fa fa-external-link"></i></a></p>
				
		<p>SERV - Bedfordshire, Berkshire, Buckinghamshire, Hampshire, Hertfordshire, Kent, Northamptonshire, London, Oxfordshire South Wiltshire, Surrey, Sussex, Suffolk (NM)<br>
		<a href="http://www.serv.org.uk"> www.serv.org.uk <i class="fa fa-external-link"></i></a></p>
				
		<p>Severn Freewheelers - Gloucestershire, Herefordshire, Worcestershire, parts of Wiltshire (NM)<br>
		<a href="http://www.severnfreewheelers.org.uk">www.severnfreewheelers.org.uk <i class="fa fa-external-link"></i></a></p>		

		<p>Whiteknights - North &amp; West Yorkshire, Clevland (Teeside) (NM)<br>
		<a href="http://www.whiteknights.org.uk/">www.whiteknights.org.uk <i class="fa fa-external-link"></i></a></p>
		
		<p>Yeovil Freewheelers - South 	Somerset, parts of Dorset<br>
		<a href="http://www.yeovil-freewheelers.co.uk/‎">www.yeovil-freewheelers.co.uk <i class="fa fa-external-link"></i></a></p>
		        
		<p>North West Blood Bikes - Manchester<br>
		<a href="http://www.nwbbm.org.uk">www.nwbbm.org.uk <i class="fa fa-external-link"></i></a></p>

		<p>North West Blood Bikes - Lancashire<br>
		<a href="http://www.nwbb-lancs.org">www.nwbb-lancs.org <i class="fa fa-external-link"></i></a></p>

		<p>North West Blood Bikes - Merseyside<br>
		<a href="http://www.nwbloodbikes.org/">www.nwbloodbikes.org <i class="fa fa-external-link"></i></a></p>
 
				

	</div>
</div>