<div class = 'xs-col-12 submenu'>
	<h1> This here is an awesome and fantabulous title </h1>
	<div class = 'post-meta'> 
		<span class = 'post-cats'> Tags: </span>
		<span class = 'post-tags'> Posted In: </span>
	</div>



	<%= image_tag '11.jpg', class: 'xs-col-12 hero img-responsive'%>
</div>