<div class="fullwidthcontainer">
		<div class="container">
				<p>&nbsp;</p>
				<div class="row">
						<div class="col-md-12">
		</div>
			<div class="col-md-4">
			<h2>News</h2>
			</div>
			<!--
			<div class="col-md-4">
		<p>&nbsp;</p>
			<p>15364 News Stories • Page 1 of 35 
			</p></div>
			
			<div class="col-md-4">
<ul class="pagination pagination-sm">
  <li><a href="#">«</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">»</a></li>
</ul>
</div>
				-->
			</div>	
		</div>		
	</div>



	<div class="row">
			<span class="hidden-xs">
			<div class="col-sm-3"> <a href="singlepage.php"> <%= image_tag 'cause.jpg', class: 'img-responsive newsthumbimage' %> </a>
			</div>
			</span>
			<div class="col-sm-8">
			<h4>Pounstretcher donates £20,000 to Blood Bikes Wales</h4>
			<p>come to Blood Bikes Wales' new website and thanks must go to Jonathan Hurley Design for doing such a great job. Thanks also to our volunteers that have worked alongside to help create this ...</p>
			<p> </p>
			</div>
		</div>