<% find_pages(:news) %>


<div class="fullwidthcontainer">
		<div class="container">
				<p>&nbsp;</p>
				<div class="row">
						<div class="col-md-12">
		</div>
			<div class="col-md-4">
				<h2> </h2>
			</div>

			<%= will_paginate @stories %>

			</div>	
		</div>		
	</div>


<%= render partial: 'story', collection: @stories %>