<div class="row">
		<span class="hidden-xs">
<!--, class: 'img-responsive newsthumbimage' -->

		<div class="col-sm-3"> <a href="singlepage.php"> <%= show_uploaded_image(story.photo, width: 50, height: 50, class: '', for: :story ) %> </a>
		</div>
		</span>
		<div class="col-sm-8">
		<h4> <%= story.title %></h4>
		<p> <%= truncate story.description, length: 300 %></p>

		<%= link_to 'read more', story_path(story) %>

		</div>
	</div>