
<div class="row">
 	
		<span class="hidden-xs">
			<div class="col-sm-3"> 
				<%= show_uploaded_image(story.photo, width: 800, height: 504, class: 'img-responsive newsthumbimage', for: :story ) %> 

			</div>
		</span>

		<div class="col-sm-8">

			<h4> <%= story.title %></h4>

			<p> <%= truncate story.description, length: 300 %></p>


			<%= link_to 'read more', story_path(story) %>

		</div>

</div>