

<div class="fullwidthcontainer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			</div>
		<div class="col-md-4">
			<h2>News</h2>
		</div>

		<%= will_paginate @stories %>

		</div>	
			<%= render partial: 'story', collection: @stories %>

	</div>		


</div>


