<br>

<%= render partial: 'form' %>


<button id = 'insert'> insert character </button>
<button id = 'remove'> remove character </button>


<button id = 'insert_bold'> insert bold </button>
<button id = 'remove_bold'> remove bold </button>
