/* xs */
body:before {  content: 'xs' }
.hot-panel li {
}

/* sm */
@media all and (min-width: 768px){
	body:before {  content: 'sm' }

  	.navbar img {
    	float: left;
  	}

  	.social a {
    	margin: 0 4%;
  	}

  	.header-extra {
    	float: left;
  	}

  	.authentication {
    	float: left;
  	}

	.social {
    	float: left;
  	}


  .hot-panel li {
  	margin-right: 10px;
  }
}

/* md */
@media all and (min-width: 992px){
	body:before { content: 'md' }
}

/* lg */
@media all and (min-width: 1200px){
	body:before { content: 'lg' }
}