<!DOCTYPE html>
<html>
<head>
  <title> <%= content_for :title %> </title>

  <meta name = 'viewport' content = 'width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable= no'>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

  <link href="http://fnt.webink.com/wfs/webink.css/?project=6CB7F258-3810-408B-B9F9-A7BCB654052F&fonts=58168F15-93FA-4FB1-0A4B-1863F48BE5F4:f=ACaslonPro-Regular,382B4521-6228-4C38-41BC-3DE66C7C910A:f=ProximaNova-Bold,58DEFEBD-4A55-477B-3C13-525C6AEBDD7A:f=ProximaNova-Regular,F5870F1F-48F5-36F5-550E-B276AA09225A:f=ProximaNova-RegularIt,7B92D2AD-0E4C-489A-A4F2-409DF1B0640B:f=BickhamScriptPro-Regular,9B12E3DB-5727-6832-E731-4CEBE577DE51:f=TrajanPro-Regular" rel="stylesheet" type="text/css"/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">



 


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>



<link href="http://fnt.webink.com/wfs/webink.css/?project=FA61E485-DDEF-449C-9AF0-309FF0ED3370&fonts=58DEFEBD-4A55-477B-3C13-525C6AEBDD7A:f=ProximaNova-Regular,C88A28DF-0112-63D9-25D2-A4EA08DAF75B:f=ProximaNova-Light,D8F30418-0E92-EBB4-6408-D220574EF53E:f=ProximaNova-Extrabld,382B4521-6228-4C38-41BC-3DE66C7C910A:f=ProximaNova-Bold" rel="stylesheet" type="text/css"/>


  <%= csrf_meta_tags %>

<!--[if lte IE 8]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

</head>


<body>
<div id = 'viewport'></div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<div id="headerband">
    <div class="container">

      <div id="logodiv">
	 <div class="row">

	 
	 <div class="col-xs-3 col-sm-2">
      <img src="images/Blood-Bikes-Wales-logo.png"  alt="blood bikes wales logo" />
		</div>	
		
		<div class="col-xs-9 col-sm-7">	
			<h1>BLOOD BIKES WALES<br>
			BEICIAU GWAED CYMRU</h1>
        <h2>RIDING TO SAVE LIVES</h2>
	   </div>
	   
	   <div class="col-xs-12 col-sm-3">
	   		<p>
  <button type="button" class="btn btn-primary btn-xs">Join Today</button>

  <button type="button" class="btn btn-primary btn-xs">Log In</button>

  <button type="button" class="btn btn-primary btn-xs">Donate via PayPal</button>
</p>
	   </div>
	   
	   
	   
	 </div>  
      </div>
<div class = 'clearfix'></div>
</div>
</div>
<!--end container-->
<div class="fullwidthcontainer">
	

  <div class="container">
<p>&nbsp;</p>

<div class="row">
<div class="col-md-12">
		

				<h2>Welcome to Blood Bikes Wales!</h2>
				
				<P>Welcome to Blood Bikes Wales' new website and thanks must go to Jonathan Hurley Design for doing such a great job. Thanks also to our volunteers that have worked alongside to help create this site. I'm sure you'll find it's easier to navigate and that there's a lot more information at your fingertips. It's easier to communicate through our contact buttons as well, ensuring you get the answers you need from the best person to help you. We're continually seeking ways to improve our organisation, be it the service we provide, the way to fund-raise or how we look after our members. Any suggestions you may have are always welcomed.</p>
				<P> The last year has seen significant growth in our workload, with two health boards being serviced by us and a third health board looking to go live by the end of March. We are providing a first class service to these health boards and when we meet the various healthcare professionals they are all so very appreciative of the work we do and always sing our praises.</p>
				<P> Our aim by the end of the year is to provide our service to all the health boards in Wales. A tall order some may say but between us and our sister group in North Wales I believe we can achieve it. We provide such a valuable and high quality service that we have a moral obligation to serve all our health boards with equal commitment.</p>
				<P> For us to provide and maintain this service we need you. Whatever you do for a living, whatever your talents are, whether you ride a bike or not, you are welcome to join us and be part of something really special. So click on the link and email us, take a look at our calendar and come see us, follow us on Facebook and Twitter, keep an eye out for us on the road. Join us.</p>
				<P> Andy Walters, Chairman</p>
				<P>&nbsp;</p>
</div>


</div>
<div class="row">

<div class="col-md-4">
	<div class="fb-like-box" data-href="https://www.facebook.com/bloodbikeswales" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>

<a class="twitter-timeline"  href="https://twitter.com/BloodBikesWales"  data-widget-id="449299926703304704">Tweets by @BloodBikesWales</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>



<div class="col-md-8">
<div class="flex-slider">
		<div class="titlebox">
				<h2><span class="left">Latest News</span> 
				<span class="right"><leftarrow><i class="fa fa-chevron-left"></i></leftarrow> <rightarrow><i class="fa fa-chevron-right"></i></rightarrow></span></h2></div>
		
						<div class="ghostedbox">
		<h4>Title of news story to go here</h4>
		<p>to cost the NHS. This is where Blood Bikes Wales comes in. Our volunteers provide the NHS with out-of-hours transport ...</p>
		<a href="index.html">Read more ></a>
		</div>
		</div>
<div class="row">
		<div class="col-md-6">
			<div class="calendar">
<p>CALENDAR
COMING SOON</p>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="events">
<p>EVENTS
COMING SOON</p>
			</div>
		</div>
	
		</div>
		
		<div class="causebox">
		<div class="titlebox">
				<h2><span class="left">Current Cause</span> 
				<span class="right"><leftarrow><i class="fa fa-chevron-left"></i></leftarrow> <rightarrow><i class="fa fa-chevron-right"></i></rightarrow></span></h2></div>
		
						<div class="ghostedbox">
		<h4>Title of news story to go here</h4>
		<p>to cost the NHS. This is where Blood Bikes Wales comes in. Our volunteers provide the NHS with out-of-hours transport ...</p>
		<a href="index.html">Read more ></a>
		</div>
		</div>

		
		
		</div>
</div>

</div>




<!--end row-->

</div><!--end container-->
<div id="footer">
<div class="container">
		<p>Our Sponsors </p>
		<div class="row">
		<div class="col-md-3"><a href="http://www.poundstretcher.co.uk/"><img src="images/pondstretcher.jpg" width="136" height="67" alt=""/></a></div>
		<div class="col-md-3"><a href="http://www.santander.co.uk/"><img src="images/sandtander_09.jpg" width="218" height="67" alt=""/></a></div>
		<div class="col-md-3"><a href="http://www.thunderroad.co.uk/"><img src="images/thunderroad_11.jpg" width="212" height="67" alt=""/></a></div>
		<div class="col-md-3"><a href="http://www.mountmotorcycles.co.uk/"><img src="images/mounts_13.jpg" width="173" height="67" alt=""/></a></div>
		</div>
		<p>© 2014 Blood Bikes Wales. Registered with the UK Charity Commission, Charity Number 1143352. </p>
		                    <p> Design: <a href="www.jhurleydesign.com">JHurleyDesign.com</a></p>
</div>
</div>



</div><!--end container-->
  





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  <script src="js/jquery-1.10.2.min.js"></script>
    
  <script src="js/bootstrap.js"></script>
   
</body>
</html>



</body>